table {
    border: 1px solid black;
    width: 300px;
}

th {
    background: gray;
}

td {
    border: 1px solid black;
}

.functions {
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}