table {
  border: 1px solid black;
  /* background: gray; */
  width: 100%;
}

th {
  background-color: darkslategrey;
  border: 1px solid black;
  color: white;
}

td {
  border: 1px solid black;
}

.functions {
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 49%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
